<!DOCTYPE html>
<html>

<head>
    <!-- LINKING CSS FILES TO THIS HTML IS CAUSING THIS PATH TO FIRE MULTIPLE TIMES WHEN REDIRECTING FROM updateGameDetails ??? -->
    <%- include('./headPartial') %>


</head>

<body>
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <div>

            <form action="/update" method="POST">

                <img src="<%= detailData.image_url %>"></img>
                <!-- <h4><%= detailData.game_id %></h4> -->
                <h4><%= detailData.name %></h4>
                <p><%= detailData.publisher %></p>
                <p><%= detailData.developer %></p>
                <p><%= detailData.release_date %></p>
                <p><%= detailData.genre %></p>
                <p><%= detailData.platform_name %></p>
                <!-- <a href=""> detailData.url</a> -->
                <input type="hidden" name="game_id" value="<%=JSON.stringify(detailData.game_id)%>">
                <p><%= detailData.description %></p>
                <button type="submit">Edit game</button>

            </form>
        </div>

        <!-- detail loop goes here -->
        <div>
            <form action="/addGame" method="POST">
                <input type="hidden" name="game_id" value="<%=JSON.stringify(detailData.game_id)%>">
                <button>Add to Inventory</button>
            </form>
            <form action="/delete/<%= detailData.game_id %>?_method=DELETE" method="POST">
                <button type="submit">Delete from Inventory</button>
            </form>

        </div>
    </main>

</body>

</html>