<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</head>

<body class="inventoryBody">
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main id="inventoryMain">
        <div>

            <form class="grid-containerTwo" action="/update" method="POST">
                <div class="grid-itemTwo">
                    <img src="<%= detailData.image_url %>"></img>
                    <!-- <h4><%= detailData.game_id %></h4> -->
                </div>
                <div class="grid-itemTwo" id="gameStats">
                    <h4 class="detailItems">Title: <%= detailData.name %></h4>
                    <p class="detailItems">Publisher: <%= detailData.publisher %></p>
                    <p class="detailItems">Developer: <%= detailData.developer %></p>
                    <p class="detailItems">Release Date: <%= detailData.release_date %></p>
                    <p class="detailItems">Genre: <%= detailData.genre %></p>
                    <p class="detailItems">Platform: <%= detailData.platform_name %></p>
                    <p>DeleteMe Testing the var is working: <%= detailData.isInDB %></p>
                    <!-- <a href=""> detailData.url</a> -->
                    <button id="editGameButton" class="detailItems" type="submit">Edit game</button>
                </div>
                <div class="grid-itemTwo" id="gameDescription">
                    <input type="hidden" name="game_id" value="<%=JSON.stringify(detailData.game_id)%>">
                    <%= detailData.description %>
                </div>
            </form>
        </div>

        <div class="footerButtons">
            <form id="grid-itemThree" action="/addGame" method="POST">
                <input type="hidden" name="game_id" value="<%=JSON.stringify(detailData.game_id)%>">
                <button id="add-inv-button" class="footerButtonOne">Add to Inventory</button>
            </form>
            <form id="grid-itemThree" action="/delete/<%= detailData.game_id %>?_method=DELETE" method="POST">
                <button id="delete-button" class="footerButtonOne" type="submit">Delete from Inventory</button>
            </form>

        </div>
    </main>
    <footer><%- include('./footerPartial') %></footer>
    <script>
        if (<%= detailData.isInDB %> === true) {
            $('#editGameButton').prop('disabled', false);
            $('#add-inv-button').prop('disabled', true);
            $('#delete-button').prop('disabled', false);
            // $('#go-back-form').attr('action', '/search/');
            // $('#go-back').text('Back to Results');
        }
        if (<%= detailData.isInDB %> === false) {
            $('#editGameButton').prop('disabled', true);
            $('#add-inv-button').prop('disabled', false);
            $('#delete-button').prop('disabled', true);
        }
    </script>
</body>

</html>