<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img id="gamesisImg" src="../img/Gamesis5000.png">
    </header>
    <main>

        <form class="indexForm" action="/inventory">
            <button class="indexButton">View Inventory</button>
        </form>

        <form class="indexForm" action="/inventory/verify" method="GET">
            <button class="indexButton" type="submit">Verification of Inventory</button>

        </form>
        <form class="indexForm" action="/search" method="POST">
            <input type="hidden" name="searchArea" value="games">
            <input id="indexSearch" type="text" name="searchCriteria" placeholder="Search By Game Title" required />
            <button id="submitButton" type="submit">Search</button>
        </form>
        <h3 class="randomHeader">If you have nothing to play, may we suggest: </h3>
        <div class="randomContainer">
            <h3 class="randomName"><%= gameData.name %></h3>
            <img class="randomImage" src="<%= gameData.image_url %>">
        </div>

    </main>
    <footer><%- include('./footerPartial') %></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>

        if ('<%= gameData.image_url %>' === '404') {
            console.log('No Image found');
            $('.randomImage').attr('src', 'img/no_inv.png');
        } 
    </script>

</body>

</html>