<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body class="inventoryBody">
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <form action="/inventory/verify/results" method="POST">
            <br />
            <div><% databaseItems.forEach( game => { %>

                <section id="<%= game.game_id %>" class="inventoryItem">
                    <input type="checkbox" name="game_id" value="<%= game.game_id %>">
                    <h2 id="h2-results"><%= game.name %></h2>
                    <img id="smallImage-results" src="<%= game.image_url%>" class=>
                    </label>
                </section>
                <% }) %>
                <button id="almostLastButton" type="submit">Submit Results</button>
            </div>
        </form>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        checkForChecks();
        $('.inventoryItem').click(e => {
            let checkBox = $(`#${e.currentTarget.id} > input`);
            let boxId = $(`#${e.currentTarget.id}`);
            console.log(checkBox.prop('checked'));



            if (checkBox.prop('checked') === true) {
                checkBox.prop('checked', false);
                boxId.removeClass('inventoryItem-selected');

            }
            else if (checkBox.prop('checked') === false) {
                checkBox.prop('checked', true);
                boxId.addClass('inventoryItem-selected');
            }
            checkForChecks();
        });
        function checkForChecks() {
            let arr = [];
            let isThereTruth = false;
            $('.inventoryItem input').each(function () {
                arr.push(this.checked);
            });
            arr.forEach(element => {
                console.log('scan checkboxes', element);
                if (element === true) { isThereTruth = true; }
            });
            if (!isThereTruth) { $('#almostLastButton').prop('disabled', true); }
            else { $('#almostLastButton').prop('disabled', false); }
        }
    </script>

    <footer><%- include('./footerPartial') %></footer>
    <script>
        let q = $('.inventoryItem').attr('class');
        if (!q) { $('#almostLastButton').prop('disabled', true); }
        else {
            $('.inventoryItem').click(e => {
            });
        }
    </script>
</body>

</html>