<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body class="inventoryBody">
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <form action="/inventory/verify/results" method="POST">
            <br />
            <div><% databaseItems.forEach( game => { %>
                <section class="inventoryItem">
                    <label for="<%= game.id %>"><input type="checkbox" name="game_id" value="<%= game.game_id %>">
                    <p><%= game.name %></p>
                    </label>   
                </section>
                <% }) %>
                <button id="almostLastButton" type="submit">Submit Results</button>
            </div>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
    <footer><%- include('./footerPartial') %></footer>
</body>

</html>