<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body>
    <header>
        <button>View Results</button>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <form action="/inventory/verify/results" method="POST">
            <br />
            <div><% databaseItems.forEach( game => { %>
                <input type="checkbox" name="game_id" value="<%= game.game_id %>">
                <label for="<%= game.id %>"></label>
                <p><%= game.name %></p>
                <p><%= game.id %></p>
                <br />
                <% }) %>
                <button type="submit">Submit Results</button>
            </div>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <footer><% include('./footerPartial') %></footer>
</body>

</html>