<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body class="inventoryBody">
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <form action="/inventory/verify/results" method="POST">
            <br />
            <div><% databaseItems.forEach( game => { %>
                <section id="<%= game.game_id %>" class="inventoryItem">
                    <input type="checkbox" name="game_id" value="<%= game.game_id %>">
                    <h2><%= game.name %></h2>
                    </label>
                </section>
                <% }) %>
                <button id="almostLastButton" type="submit">Submit Results</button>
            </div>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $('.inventoryItem').click(e => {
            let checkBox = $(`#${e.currentTarget.id} > input`);
            let boxId = $(`#${e.currentTarget.id}`);
            console.log(checkBox.prop('checked'));
            if (checkBox.prop('checked') === true) {
                checkBox.prop('checked', false);
                boxId.removeClass('inventoryItem-selected');

            }
            else if (checkBox.prop('checked') === false) {
                checkBox.prop('checked', true);
                boxId.addClass('inventoryItem-selected');
            }
        });
    </script>
    <script src="app.js"></script>
    <footer><% include('./footerPartial') %></footer>
</body>

</html>