<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
    <!-- <link href="modals.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <section><% searchResultsData.forEach( game=> { %>
            <div class="grid-container" class="viewInventoryForm">
                <div class="grid-item" id="leftItem">
                    <h2 id="listText"><%= game.name %></h2>
                    <img id="smallImage" src="<%= game.image_url %>"></img>
                </div>
                <div class="grid-item">
                    <form class="modal" method="GET" action="/details/<%=game.game_id%>"> 
                        <input type="hidden" name="game_id" value="<%=JSON.stringify(game.id)%>">
                        <button id="inventoryButton">View Details</button>
                    </form>
                    <form class="addToInv" action="/addGame" method="POST">
                        <input type="hidden" name="game_id" value="<%=JSON.stringify(game.game_id)%>">
                        <input type="hidden" name="parent_page" value="/search">
                        <button id="inventoryButton">Add to Inventory</button>
                    </form>
                </div>
            </div>
            <% }) %>
        </section>
    </main>
    <footer><%- include('./footerPartial') %></footer>
    <!-- <script src="../js/searchResults.js"></script> -->
    <script>
        if (<%= searchResultsData.isInDB %> === true) {
    $('#editGameButton').prop('disabled', false);
    $('#add-inv-button').prop('disabled', true);
    $('#delete-button').prop('disabled', false);
    // $('#go-back-form').attr('action', '/search/');
    // $('#go-back').text('Back to Results');
}
    if (<%= searchResultsData.isInDB %> === false) {
    $('#editGameButton').prop('disabled', true);
    $('#add-inv-button').prop('disabled', false);
    $('#delete-button').prop('disabled', true);
}
    </script>
</body>

</html>