<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
    <!-- <link href="modals.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main>
        <section><% searchResultsData.forEach( game=> { %>
            <div class="grid-container" class="viewInventoryForm">
                <div class="grid-item" id="leftItem">
                    <h2 id="listText"><%= game.name %></h2>
                    <img id="smallImage" src="<%= game.image_url %>"></img>
                </div>
                <div class="grid-item">
                    <form class="modal" method="GET" action="/details/<%=game.game_id%>">
                        <input type="hidden" name="game_id" value="<%=JSON.stringify(game.id)%>">
                        <button id="inventoryButton">View Details</button>
                    </form>
                    <form class="addToInv" action="/addGame" method="POST">
                        <input type="hidden" name="game_id" value="<%=JSON.stringify(game.game_id)%>">
                        <input type="hidden" name="parent_page" value="/search">
                        <button id="inventoryButton" class="inventoryButton-<%=game.game_id%>">Add to Inventory</button>
                    </form>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script>
            <% resultsCompare.map(elem => { %>
                if (<%= elem %> === <%=game.game_id %>) {
                    $('.inventoryButton-<%=game.game_id%>').prop('disabled', true);
                    console.log($('.inventoryButton-<%=game.game_id%>').text());


                    console.log('BAM!', 'inventoryButton-<%=game.game_id%>');
                }
            <% }) %>
                    console.log('Running');
            </script>
            <% }) %>
        </section>
    </main>
    <footer><%- include('./footerPartial') %></footer>
    <!-- < script src = "../js/searchResults.js" ></script > -->

</body>

</html>