<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body>
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main><% databaseDetails.forEach( game => { %>
        <section class="grid-container" class="viewInventoryForm">
            <h2 class="grid-item" id="listText"><%= game.name %></h2>
            <div class="grid-item">
                <form action="/details/<%=JSON.stringify(game.game_id)%>" method="GET">
                    <input type="hidden" name="game_id" value=<%=game.game_id%>>
                    <button id="inventoryButton" type="submit">View Details</button>
                </form>
                <form action="/delete/<%= game.game_id %>?_method=DELETE" method="POST">
                    <button class="danger" id="inventoryButton" type="submit">Delete from Inventory</button>
                </form>
            </div>
        </section>
        <% }) %>
        <form action="/wipeDB" method="GET">
            <button class="danger" id="danger" class="indexButton" type="submit">DELETE ALL INVENTORY DATA -
                DANGER!</button>
        </form>
    </main>
    <footer><% include('./footerPartial') %></footer>
</body>

</html>